<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-uppercase">Links:</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a
                                class="btn btn-outline-light text-center btn-social rounded-circle"
                                role="button"
                                href="https://github.com/bnewmandev"
                        ><i class="fa fa-github fa-fw"></i
                            ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                                class="btn btn-outline-light text-center btn-social rounded-circle"
                                role="button"
                                href="https://stackoverflow.com/users/15235115/ben-newman"
                        ><i class="fa fa-stack-overflow fa-fw"></i
                            ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                                class="btn btn-outline-light text-center btn-social rounded-circle"
                                role="button"
                                href="https://www.linkedin.com/in/benjamin-s-newman/"
                        ><i class="fa fa-linkedin fa-fw"></i
                            ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                                class="btn btn-outline-light text-center btn-social rounded-circle"
                                role="button"
                                href="#"
                        ><i class="fa fa-twitter fa-fw"></i
                            ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="text-center text-white copyright py-4">
    <div class="container">
        <small>Copyright ©&nbsp;Ben Newman 2022</small>
    </div>
</div>