<header class="text-center text-white bg-primary masthead">
    <div class="container">
        <img
                class="img-fluid d-block mx-auto mb-5"
                src="assets/img/20201106_175135.png"
                style="width: 200px"
        />
        <h1>Ben Newman</h1>
        <hr class="star-light"/>
        <h2 class="font-weight-light mb-0" style="font-size: 18.8px">
            Software Engineer - Web Developer - Software Developer - Database
            Developer
        </h2>
    </div>
</header>