<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Ben Newman</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/untitled.css"/>
</head>

<body
        id="page-top"
        data-bs-spy="scroll"
        data-bs-target="#mainNav"
        data-bs-offset="72"
>
<%- include("../partials/header.ejs") %>
<header class="text-center text-white bg-primary masthead">
    <div class="container">
        <img
                class="img-fluid d-block mx-auto mb-5"
                src="assets/img/20201106_175135.png"
                style="width: 200px"
        />
        <h1>Ben Newman</h1>
        <hr class="star-light"/>
        <h2 class="font-weight-light mb-0" style="font-size: 18.8px">
            Software Engineer - Web Developer - Software Developer - Database
            Developer
        </h2>
    </div>
</header>
<section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
            <div class="col-md-6 col-lg-4 cover">
                <a
                        class="d-block mx-auto portfolio-item cover"
                        href="#portfolio-modal-1"
                        data-bs-toggle="modal"
                >
                    <div
                            class="d-flex portfolio-item-caption position-absolute h-100 w-100"
                    >
                        <div
                                class="text-center text-white my-auto portfolio-item-caption-content w-100"
                        >
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img
                            class="img-fluid"
                            src="assets/img/portfolio/carousel-gf1ae6b9cf_1280.png"
                            style="
									display: block;
									max-height: 200px;
									margin-left: auto;
									margin-right: auto;
								"
                    />
                </a>
                <h1
                        style="text-align: center; margin-bottom: 50px; font-size: 24.4px"
                >
                    This Website
                </h1>
            </div>
            <div class="col-md-6 col-lg-4 cover">
                <a
                        class="d-block mx-auto portfolio-item cover"
                        href="#portfolio-modal-2"
                        data-bs-toggle="modal"
                >
                    <div
                            class="d-flex portfolio-item-caption position-absolute h-100 w-100"
                            style="max-height: 200px"
                    >
                        <div
                                class="text-center text-white my-auto portfolio-item-caption-content w-100"
                        >
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img
                            class="img-fluid"
                            src="assets/img/portfolio/phone-gb99e19a75_1280.jpg"
                            style="
									display: block;
									max-height: 200px;
									margin-left: auto;
									margin-right: auto;
								"
                    />
                </a>
                <h1
                        style="text-align: center; margin-bottom: 50px; font-size: 24.4px"
                >
                    Commute Guide
                </h1>
            </div>
            <div class="col-md-6 col-lg-4 cover">
                <a
                        class="d-block mx-auto portfolio-item cover"
                        href="#portfolio-modal-3"
                        data-bs-toggle="modal"
                >
                    <div
                            class="d-flex portfolio-item-caption position-absolute h-100 w-100"
                            style="max-height: 200px"
                    >
                        <div
                                class="text-center text-white my-auto portfolio-item-caption-content w-100"
                        >
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img
                            class="img-fluid"
                            src="assets/img/portfolio/coming-soon-g8b5bf77c5_1280.jpg"
                            style="
									display: block;
									max-height: 200px;
									margin-left: auto;
									margin-right: auto;
								"
                    />
                </a>
                <h1
                        style="text-align: center; margin-bottom: 50px; font-size: 24.4px"
                >
                    More Coming Soon...
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="text-white bg-primary mb-0" id="about">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">About</h2>
        <hr class="star-light mb-5"/>
        <div class="row">
            <div class="col">
                <p class="lead">
                    Hi, my name's Ben. I am a software engineering student at Solent
                    University in Southampton. I specialize in back end development
                    but I am interested and capable in a broad range of fields such as
                    database and software developing.
                </p>
                <p class="lead">
                    I have a thorough knowledge of Test / Behaviour Driven Development
                    and Agile Development. I take pride in my ability to quickly take
                    up new programming languages and frameworks.
                </p>
            </div>
        </div>
        <!--        <div class="text-center mt-4">-->
        <!--            <a class="btn btn-outline-light btn-xl" role="button" href="#"-->
        <!--            ><i class="fa fa-download me-2"></i><span>Download my CV</span></a-->
        <!--            >-->
        <!--        </div>-->
    </div>
</section>
<section id="contact">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">
            Contact Me
        </h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
            <h3 class="text-center">ben@bndev.co.uk</h3>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>
<div class="text-center text-white copyright py-4">
    <div class="container">
        <small>Copyright ©&nbsp;Ben Newman 2022</small>
    </div>
</div>
<div class="d-lg-none scroll-to-top position-fixed rounded">
    <a class="text-center d-block rounded text-white" href="#page-top"
    ><i class="fa fa-chevron-up"></i
        ></a>
</div>
<div
        class="modal text-center"
        role="dialog"
        tabindex="-1"
        id="portfolio-modal-1"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-uppercase text-secondary mb-0">
                                Portfolio website
                            </h2>
                            <hr class="star-dark mb-5"/>
                            <img
                                    class="img-fluid mb-5"
                                    src="assets/img/portfolio/carousel-gf1ae6b9cf_1280.png"
                            />
                            <p class="mb-5">
                                The frontend for this website was created using bootstrap
                                studio and hosted on netlify. I have plans to add a development diary section at some
                                point.
                            </p>
                            <a class="btn btn-secondary rounded-pill btn-lg mx-auto"
                               href="https://github.com/bnewmandev/portfolio">View Project on Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pb-5">
                <a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
                        role="button"
                        data-bs-dismiss="modal"
                ><i class="fa fa-close"></i>&nbsp;Close Project</a
                >
            </div>
        </div>
    </div>
</div>
<div
        class="modal text-center"
        role="dialog"
        tabindex="-1"
        id="portfolio-modal-2"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-uppercase text-secondary mb-0">
                                Commute guide
                            </h2>
                            <hr class="star-dark mb-5"/>
                            <img
                                    class="img-fluid mb-5"
                                    src="assets/img/portfolio/phone-gb99e19a75_1280.jpg"
                            />
                            <p class="mb-5">
                                This project is currently in the early stages of development. The basic
                                concept is an app which can provide public transport
                                information in relation to a daily commute
                            </p>
                            <a class="btn btn-secondary rounded-pill btn-lg mx-auto"
                               href="https://github.com/bnewmandev/commute-guide">View Project on Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pb-5">
                <a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
                        role="button"
                        data-bs-dismiss="modal"
                ><i class="fa fa-close"></i>&nbsp;Close Project</a
                >
            </div>
        </div>
    </div>
</div>
<div
        class="modal text-center"
        role="dialog"
        tabindex="-1"
        id="portfolio-modal-3"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-uppercase text-secondary mb-0">More soon</h2>
                            <hr class="star-dark mb-5"/>
                            <img
                                    class="img-fluid mb-5"
                                    src="assets/img/portfolio/coming-soon-g8b5bf77c5_1280.jpg"
                            />
                            <p class="mb-5">
                                I am not currently working on anything apart from the commute guide (and updating this
                                site), but I have plans to start a new project in May 2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pb-5">
                <a
                        class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
                        role="button"
                        data-bs-dismiss="modal"
                ><i class="fa fa-close"></i>&nbsp;Close Project</a
                >
            </div>
        </div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/freelancer.js"></script>
</body>
</html>
