.cover {
  object-fit: cover;
}

hr.star-light:after {
  content: "" !important;
}

hr.star-light:after, hr.star-dark:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 .25em;
  content: "f005";
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-dark:after {
  content: "" !important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top .3s,padding-bottom .3s;
  }
}

